/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-pandp-blocks-clear  {
  color: #e8e8e8;
  text-align: center;
  text-transform: uppercase;

  p {
    background: #fbfbfb;
    margin: 0 !important;
  }

}
